@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
  --primary-color: #dcd7f8;
  --text-dark: #262940;
  --text-light: #6d6a7d;
  --white: #ffffff;
  --max-width: 100%;
}

.nav-header {
  position: sticky;
  top: 0;
  z-index: 50;
  backdrop-filter: blur(12px);
  background: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #e5e7eb;
}

.nav-container {
  max-width: 100%;
  margin: auto;
  height: 74px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
}

.nav-left {
  display: flex;
  align-items: center;
  gap: 32px;
}

.brand {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  color: var(--text-dark);
}

.brand-icon {
  width: 40px;
  height: 40px;
  background: rgba(255, 200, 48, 0.859);;
  color: white;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.brand-text {
  font-size: 20px;
  font-weight: 700;
}

.nav-links {
  display: none;
}

.nav-link {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-light);
  text-decoration: none;
}

.nav-link:hover {
  color: var(--text-dark);
  text-decoration: overline;
}

.nav-link-A {
  font-size: 15px;
  font-weight: 600;
  color: var(--text-light);
  text-decoration: none;
}

.nav-link-A:hover {
  color: red;
  text-decoration: overline;
}

.nav-actions {
  display: flex;
  align-items: center;
  gap: 8px;
}

.icon-btn {
  background: transparent;
  border: none;
  padding: 8px;
  cursor: pointer;
  border-radius: 50%;
}

.icon-btn:hover {
  background: #f3f4f6;
}

.heart-btn {
  position: relative;
}

.heart-dot {
  position: absolute;
  top: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  background: #ff6262;
  border-radius: 50%;
}

.cta-btn {
  background: linear-gradient(135deg, #ffe08b, #ffc830);
  color: white;
  border: none;
  padding: 10px 24px;
  border-radius: 999px;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s;
}

.cta-btn:hover {
  transform: scale(1.04);
  box-shadow: 7px 10px 10px #ffe08b;
}

.cta-btn.full {
  width: 100%;
}

.mobile-menu {
  border-top: 1px solid #e5e7eb;
}

.mobile-menu-content {
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.mobile-link {
  font-size: 16px;
  font-weight: 500;
  color: #6b7280;
  text-decoration: none;
}

.mobile-link.active,
.mobile-link:hover {
  color: #2563eb;
}

@media (min-width: 768px) {
  .nav-links {
    display: flex;
    gap: 24px;
  }

  .mobile-only {
    display: none;
  }

  .hide-md {
    display: flex;
  }
}

@media (max-width: 640px) {
  .hide-sm {
    display: none;
  }
}
